# extends "main.html" 
# block content 
  
  <nav class="ui fixed top pointing borderless inverted menu">
    <header class="header item"> <a href="{{courseUrl}}">{{lab.title}}</a></header>
    <div class="right tab-menu menu">
      # for currentStep in lab.steps
        # if currentStep.markdown == lab.steps[0].markdown
          <a class="active item" data-tab="{{currentStep.markdown}}"> {{currentStep.title}} </a>
        # else 
          <a class="item" data-tab="{{currentStep.markdown}}"> {{currentStep.title}} </a>
        # endif   
      # endfor
    </div>
  </nav>

  <br>

  # for currentStep in lab.theSteps
    # if currentStep.markdown == lab.steps[0].markdown
	  <section data-tab="{{currentStep.markdown}}" class="ui active tab stacked clarity-book segment">
	     {{ currentStep.content }}
	  </section>
	    # else 
	  <section data-tab="{{currentStep.markdown}}" class="ui tab stacked clarity-book segment">
	     {{ currentStep.content }}
	  </section>
    # endif
  # endfor

# endblock 